@model HootHoot_CMS.Models.Questions

@{
    ViewBag.Title = "Create Confirm";
}

<h2>Confirm</h2>

<h3>Are you sure you want to create this question ?</h3>
<div>
    <h4>Questions</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.station_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.station_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.question_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.question_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.question_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.question_type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.option_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.option_type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.option_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.option_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.option_2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.option_2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.option_3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.option_3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.option_4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.option_4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.correct_option)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correct_option)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.answering_duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.answering_duration)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="hidden" name="question_name" value=@Model.question_name />
            <input type="hidden" name="question_type" value=@Model.question_type />
            <input type="hidden" name="option_type" value=@Model.option_type />
            <input type="hidden" name="option_1" value=@Model.option_1 />
            <input type="hidden" name="option_2" value=@Model.option_2 />
            <input type="hidden" name="option_3" value=@Model.option_3 />
            <input type="hidden" name="option_4" value=@Model.option_4 />
            <input type="hidden" name="correct_option" value=@Model.correct_option />
            <input type="hidden" name="answering_duration" value=@Model.answering_duration />
            <input type="hidden" name="station_id" value=@Model.station_id />
            <input type="submit" value="Confirm" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Create")
        </div>
    }
</div>
