@model HootHoot_CMS.Models.Questions

@{
    ViewBag.Title = "Edit Question";
}

<h2>Edit Question</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.question_id)

        <div class="form-group">
            @Html.LabelFor(model => model.station_id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("station_id", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.station_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.question_name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.question_name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.question_name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.question_type, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("question_type", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.question_type, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.option_type, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("option_type", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.option_type, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.option_1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <img id="imgOption1_Preview" alt="Option 1 Image Preview" width="100" height="100"
                     src=@{
                            if (Model.option_type.Equals(Constants.QNS_IMAGE_OPTION_TYPE)) { @Model.option_1; }
                            else { @Constants.IMG_NO_PREVIEW_SRC; }
                         } />
                @Html.EditorFor(model => model.option_1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.option_1, "", new { @class = "text-danger" })
                <input type="file" name="option1_img" /><br />
                <input type="button" id="addImg_Option1" value="Add Image for Option 1" class="btn btn-default" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.option_2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <img id="imgOption2_Preview" alt="Option 2 Image Preview" width="100" height="100" 
                     src=@{
                            if (Model.option_type.Equals(Constants.QNS_IMAGE_OPTION_TYPE)) { @Model.option_2; }
                            else { @Constants.IMG_NO_PREVIEW_SRC; }
                         } />
                @Html.EditorFor(model => model.option_2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.option_2, "", new { @class = "text-danger" })
                <input type="file" name="option2_img" /><br />
                <input type="button" id="addImg_Option2" value="Add Image for Option 2" class="btn btn-default" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.option_3, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <img id="imgOption3_Preview" alt="Option 3 Image Preview" width="100" height="100"
                     src=@{
                            if (Model.option_type.Equals(Constants.QNS_IMAGE_OPTION_TYPE)) { @Model.option_3; }
                            else { @Constants.IMG_NO_PREVIEW_SRC; }
                         } />
                @Html.EditorFor(model => model.option_3, new { htmlAttributes = new { @class = "form-control" } })
                     @Html.ValidationMessageFor(model => model.option_3, "", new { @class = "text-danger" })
                <input type="file" name="option3_img" /><br />
                <input type="button" id="addImg_Option3" value="Add Image for Option 3" class="btn btn-default" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.option_4, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <img id="imgOption4_Preview" alt="Option 4 Image Preview" width="100" height="100"
                     src=@{
                            if (Model.option_type.Equals(Constants.QNS_IMAGE_OPTION_TYPE)) { @Model.option_4; }
                            else { @Constants.IMG_NO_PREVIEW_SRC; }
                         }/>
                @Html.EditorFor(model => model.option_4, new { htmlAttributes = new { @class = "form-control" } })
                     @Html.ValidationMessageFor(model => model.option_4, "", new { @class = "text-danger" })
                <input type="file" name="option4_img" /><br />
                <input type="button" id="addImg_Option4" value="Add Image for Option 4" class="btn btn-default" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.correct_option, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownList("correct_option", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.correct_option, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-6">
                <img id="imgCorrectOpt_Preview" width="100" height="100" src="../Images/NoPreview.png" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.question_has_hint, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.RadioButtonFor(model => model.question_has_hint, "YES") Yes
                @Html.RadioButtonFor(model => model.question_has_hint, "NO") No
                <br />
                @Html.ValidationMessageFor(model => model.question_has_hint, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.hint, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.hint, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.hint, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.answering_duration, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.answering_duration, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.answering_duration, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Next >" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
