@model IEnumerable<HootHoot_CMS.Models.Questions>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.optionType.optiontype)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.questionType.questiontype)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.station.station_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.question_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.option_1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.option_2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.option_3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.option_4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.correct_option)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.answering_duration)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.optionType.optiontype)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.questionType.questiontype)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.station.station_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.question_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.option_1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.option_2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.option_3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.option_4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.correct_option)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.answering_duration)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.question_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.question_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.question_id })
        </td>
    </tr>
}

</table>
