@model IEnumerable<HootHoot_CMS.Models.Questions>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="row">
    Filter Questions record:
   @using (Html.BeginForm(new HootHoot_CMS.Models.FilterQuestionsViewModel()))
   {
        <span class="col-md-3">@Html.DropDownList("filter_station", null, new { @class = "form-control" })</span>
        <span class="col-md-3">@Html.DropDownList("filter_questiontype", null, new { @class = "form-control" })</span>
        <span class="col-md-3">@Html.DropDownList("filter_optiontype", null, new { @class = "form-control" })</span>
        <span class="col-md-3"><input type="submit" id="filterQns_Result" value="Filter Results" /></span>
   }
    
</div><br/>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.option_type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.question_type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.station_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.question_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.option_1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.option_2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.option_3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.option_4)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.optionType.optiontype)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.questionType.questiontype)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.station_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.question_name)
        </td>
        @{
            if (item.option_type.Equals("IMAGE"))
            {
                <td>
                    <img src=@item.option_1 alt="Option 1 Image" width="50" height="50" />
                </td>
                <td>
                    <img src=@item.option_2 alt="Option 2 Image" width="50" height="50" />
                </td>
                <td>
                    <img src=@item.option_3 alt="Option 3 Image" width="50" height="50" />
                </td>
                <td>
                    <img src=@item.option_4 alt="Option 4 Image" width="50" height="50" />
                </td>

            }
            else
            {
                <td>
                    @Html.DisplayFor(modelItem => item.option_1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.option_2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.option_3)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.option_4)
                </td>
            }
        }

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.question_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.question_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.question_id })
        </td>
    </tr>
}

</table>
